
.output {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  padding-top: 20px;
}

.box {
  height: auto;
  margin: -0.5px;
  display: inline-block;
  overflow-y:auto;
  box-sizing: border-box;
} 

.box::before {
  content: "";
  display: block;
  border-top: 1.5px solid rgb(20, 20, 20); 
}

.box::after {
  content: "";
  display: block;
  border-top: 1.5px solid rgb(20, 20, 20); 
}
